
@media screen and (max-width: 900px) {
    .contact {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }
    .div-form,
    .div-title {
        width: 100%;
    }
    .div-title {
        padding: 80px;
    }
    .header>img {
        display: none;
    }
    .weblog-title {
        margin-top: 100px;
    }
  }