.div-title {
    width: 80%;
    height: 220px;
    background-color: #5B5BFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  
  .title {
    font-size: 13px;
    direction: rtl;
    text-align: center;
    padding: 0px 30px;
    color: white;
  }
  
  .title-btn {
    background-color: #0101AA;
    color: white;
    font-size: 12px;
    width: 176px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    bottom: 30px;
  }
  